doctype html
html
  head
    title Natpu
    link(href='http://fonts.googleapis.com/css?family=Anaheim', rel='stylesheet', type='text/css')
    meta(name='keywords', content='TCE,friends,senthil')
    meta(property='og:description', content='Natpu, is App that Connect The People Who are all Studied IT at TCE in 2013-2017.The Idea Behind By Senthil')
    link(rel='stylesheet', href='css/reset.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    link(href='css/imagehover.css', rel='stylesheet', media='all')
    link(type='text/css', rel='stylesheet', href='http://dreamtemplate.com/dreamcodes/buttons_css3/css/tsc_button_styles.css')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery.lightbox.js')
    link(rel='stylesheet', type='text/css', href='css/lightbox.css', media='screen')
    script(type='text/javascript').
      $(function() {
      $('.gallery a').lightBox();
      });
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.js')
  style.
    .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    .button:hover span {
    padding-right: 25px;
    }
    .button:hover span:after {
    opacity: 1;
    right: 0;
    }
  body(style='background: url("images/background.jpg");background-size: cover;background-attachment: fixed')
    .header
      span
      style(type='text/css').
        a{
        text-decoration: none;
        }
        a:hover{
        text-decoration: none;
        }
      .wrap
        .menu
          ul
            li.active
              a(href='/home', style='font-size: 20px') Home
            li
              a(href='/memories', style='font-size: 20px') Memories
            li
              a(href='/birthday', style='font-size: 20px') Birthday
            li
              a(href='/profile', style='font-size: 20px') Profile
            li
              a(href='/slam', style='font-size: 20px') Slam
            li
              a(href='/logout', style='font-size: 20px') Logout
            li
              a(href='/settings', style='font-size: 20px') Settings
        .logo
          a(href='index.html')
            img(src='images/logo2.png', alt='')
    div
      h1
        center
          font(color='white') Slam Options
      center
        lable
          form
            input(type='submit', name='AS')
          a.button(href='/readslam')
            span View Your Slam 
          a.button(href='/slamsend')
            span Wrote A slam To Your Friend 
    .col-md-12(style='background: rgba(0,0,0,0.5);text-align: center;padding: 1em')
      a(href='/contact',style='color:#fff;') © 2017 | Design by Natpu & team
